#bar_annot{
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
    line-height: 1.563;
    margin: 0;
    padding: 10px 30px;
}
/* 导航栏 */
#nav{
    width: 70%;
    height: 150px;
    display:flex;
    margin: 30px auto;
    position: absolute;
    left:50%;
    transform:translate(-50%);
    z-index: 10;
}
#nav > div{
    display:flex;
    justify-content:center;
    align-items:center;
}
#manubutton{
    width: 50px;
    height: 50px;
    border: 0;
    color: #ffffff;
    background-color: transparent;
    z-index: 0;
}
#manubutton > img{
    width: 100%;
}
/* 轮播图 */
#myCarousel{
    height: 800px;
    margin-top: -10px;
}
#myCarousel .carousel-inner{
    height: 800px;
}
#myCarousel .carousel-inner > .item{
    overflow:hidden;
}
#myCarousel .carousel-inner > .item > img {
    display: block;
    width: 100%;
    height: auto;
}
/* 浮动窗口*/
.floattag{
    color: #ffffff;
    font-family: "Lato","HelveticaNeue","Helvetica Neue",sans-serif;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform:translate(-50%);
}
.floattag > p{
    font-size: 20px;
}
.floattag > h2{
    font-size: 60px;
}
.floattag > a{
    color: #000000;
    background-color: #f8f2f2;
    padding: 12px 20px;
    line-height: 1.42;
    margin-top: 10px;
    display: inline-block;
}
/*  导航图标 */
.navicon{
    color: #ffffff;
    font-size: 20px;
    margin: 0 8px;
    cursor: pointer;
}
/*  内容   */
.container{
    z-index: 10;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
/* 网站标题栏 */
.subtopic{
    margin-bottom: 50px;
}
.subtopic > h1{
    text-align: center;
}
.subtopic > hr{
    border-width: 3px 0 0 0;
    width: 50px;
    margin: 20px auto;
    border-top: solid #1c1d1d;
}
/* 图像标题栏 */
.imagediv{
    margin-bottom: 80px;
    display: flex;
    height: 260px;
    justify-content: center;
}
.imagediv > div{
    width: 250px;
    overflow: hidden;
    margin: 10px 20px;
    /* flex:1; */
}
.imagediv > div > img{
    height: 100%;
}

.center{
    display:table;margin:0 auto;
}



.show-nav {transform:translateX(0);}
.hide-nav {transform:translateX(-220px);}

/*添加淡入淡出的css*/
.carousel-fade .carousel-inner .item{ opacity:0; -webkit-transition-property:opacity;-moz-transition-property:opacity ; -ms-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity ;}
.carousel-fade .carousel-inner .active{ opacity: 1;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{left: 0;opacity: 0;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}

body{
    background-color: aqua;
}